.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #2b5876, #4e4376);
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.4em;
    margin: 0;
    padding: 3px 10px;
    color: white;
}
  
.push {
margin-left: auto;
}

.nomeEqua {
margin-right: auto;
}