footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    list-style: none;
    font-size: 1.4em;
    margin: 0;
    padding: 3px 10px;
    justify-content: center;
    background: linear-gradient(to right, rgb(20, 0, 201, 0.6), rgb(102, 0, 5, 0.6));
}