footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    list-style: none;
    font-size: 1.4em;
    margin: 0;
    padding: 3px 10px;
    justify-content: center;
    background: linear-gradient(to right, #4e4376, #2b5876);
}