footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 255, 255));
}