html{
  background-image: url(https://wallpapercave.com/wp/wp9221205.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
}

.App {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 10px 0px 5px 0px;
}

.lista {
  list-style: none;
  display: grid;
  padding-top: 0px;
  justify-content: center;
}

h1 {
  justify-self: center;
  color: white;
}
button{
  align-self: center;
  align-items: center;
  align-content: center;
}