html{
  background-image: url(https://wallpaperaccess.com/full/917802.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0px;
}

.App {
  text-align: center;
  padding: 10px 0px 5px 0px;
}

.lista {
  display: grid;
  justify-content: center;
  list-style: none;
  padding-top: 0px;
  padding-bottom: 15px;
  margin: 0px 10vh;
  background-color: rgba(0, 0, 0, 0.75);
}

h1 {
  justify-self: center;
  color: black;
}
button{
  align-self: center;
  align-items: center;
  align-content: center;
}